html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
}

.ownControls{
	position: relative;
	bottom: 160px;
	overflow: hidden;
}

.topButton{
	position: absolute;
	top: 0px;
	margin: 20px;
}

#toHotorget{
	top: 50px;
}

#gpsButton{
	background-color: rgba(0,0,0,0);
	border: 0;
	height: 40px;
	width: 40px;
	right: 20px;
}

@media screen and (max-width: 360px){
	#createMovableMarker{
		font-size: 12px;
	}
	#createStaticMarker{
		font-size: 12px;
	}

	.btn-group{
		padding-top: 5px;
	}
}

.noLeftPadding{
	padding-left: 0;
}