html, body, #map-canvas { 
	height: 100%; margin: 0; padding: 0;
}

.ownControls{
	position: relative;
	bottom: 100px;
	overflow: hidden;
}

@media screen and (max-width: 360px){
	.ownControls{
		position: relative;
		bottom: 160px;
	}

	.btn-group{
		padding-top: 5px;
	}
}

.noLeftPadding{
	padding-left: 0;
}